input, textarea {
    width: 100%;
    box-sizing: border-box;
    border: solid 1px color(neutral, base);
    border-radius: em($x-small-spacing);
    padding: em($medium-spacing) em($small-spacing);
    margin: 0 0 em($large-spacing);
    font-size: em($medium-font-size);
}

label {
    display: inline-block;
    margin: 0 0 em($small-spacing) 0;
}
