$card-horizontal-spacing: em($large-spacing);
$card-vertical-spacing: em($large-spacing);

.card {
    font-size: 1rem;
    padding: $card-vertical-spacing $card-horizontal-spacing;

    p {
        font-size: em(14px);
    }
}

.card-header {
    @include flex-direction(column);
    @include align-items(flex-start);

    font-size: 1em;
    margin: 0 0 em($large-spacing) 0;
    min-height: 0;
    padding: 0;

    &:after {
        display: none;
    }

    h2 {
        font-size: em(16px);
        margin: 0 0 em(5px) 0;
    }

    small {
        color: color(neutral, base);
        font-size: em(12px);
    }
}

.card-image {
    width: 100%;

    &.full-width {
        @include calc(width, "100% + #{$card-horizontal-spacing} * 2");

        margin-left: -($card-horizontal-spacing);
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.card-links {
    @include display(flex);
    @include justify-content(space-around);

    margin-top: em($base-spacing);
}
