$card-horizontal-spacing: em($large-spacing);
$card-vertical-spacing: em($large-spacing);

.card {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);

    box-shadow: 0 em(3px) em(6px) 0 rgba(0, 0, 0, .16);
    font-size: 1rem;
    margin: em($base-spacing) em($medium-spacing);
    padding: 0 $card-horizontal-spacing $card-vertical-spacing;

    &.full-height {
        padding-bottom: 0;
    }

    p {
        font-size: em($medium-font-size);
        width: 100%;
    }
}

.card-header {
    @include flex-direction(column);
    @include align-items(flex-start);

    font-size: 1em;
    margin: 0 0 em($large-spacing) 0;
    min-height: 0;
    padding: $card-vertical-spacing 0 0 0;
    width: 100%;

    &:after {
        display: none;
    }

    h2 {
        font-size: em($base-font-size);
        margin: 0 0 em($x-small-spacing) 0;
    }

    small {
        color: color(neutral, base);
        font-size: em($small-font-size);
    }
}

.card-links {
    @include display(flex);
    @include justify-content(space-around);

    margin-top: em($base-spacing);
    width: 100%;
}

.card-actions {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    margin-top: em($large-spacing);
    width: 100%;

    button {
        @include flex(1);

        margin-right: em($small-spacing);

        &:last-child {
            margin-right: 0;
        }
    }
}

.card-input {
    @include display(flex);
    @include justify-content(center);

    width: 100%;

    .input-mask {
        border-bottom: 2px solid color(neutral, light);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: em($x-large-font-size);
        font-weight: 300;
        outline: none;
        position: relative;
        text-align: center;
        transition: border $base-duration $base-timing;

        &:focus {
            border-color: color(neutral, base);
        }

        &:before {
            color: color(neutral, dark);
            content: '$';
            font-size: em($large-font-size, $x-large-font-size);
            position: absolute;
            top: 0;
            left: em(-14px, $large-font-size);
        }

        & + input {
            display: none;
        }
    }
}

.swiper-container {
    font-size: 1rem;
    padding-bottom: em($base-spacing);

    .card {
        margin-top: 0;
    }

    .swiper-pagination {
        bottom: em($x-small-spacing);
    }

    .swiper-pagination-bullet {
        background: lighten(color(neutral, darkest), 10%);
        transition: background $base-duration $base-timing;

        &.swiper-pagination-bullet-active {
            background: color(neutral, darkest);
        }
    }
}
