$full-width-additional-padding: em($large-spacing);

.image,
.video {
    background: color(neutral, lighter);
    width: 100%;

    &.full-width {
        @include calc(width, "100% + #{$full-width-additional-padding * 2}");

        position: relative;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.swiper-container {
    font-size: 1rem;
    padding-bottom: em($base-spacing);

    .card {
        margin-top: 0;
    }

    .swiper-pagination {
        bottom: em($x-small-spacing);
    }

    .swiper-pagination-bullet {
        background: lighten(color(neutral, darkest), 10%);
        transition: background $base-duration $base-timing;

        &.swiper-pagination-bullet-active {
            background: color(neutral, darkest);
        }
    }
}
